        .w {
            width: 1200px;
            margin: 0 auto;
        }
        
        header {
            height: 85px;
            border-bottom: 2px solid #b1191a;
        }
        
        header .logo a {
            display: inline-block;
            width: 175px;
            height: 56px;
            line-height: 85px;
        }
        
        .registerarea {
            height: 523px;
            border: 1px solid #ccc;
            margin-top: 20px;
        }
        
        .registerarea h3 {
            padding: 0 10px;
            height: 42px;
            font-size: 18px;
            font-weight: 400;
            background-color: #ececec;
            border-bottom: 1px solid #ccc;
            line-height: 42px;
        }
        
        .registerarea h3 span {
            float: right;
            font-size: 14px;
            font-weight: 400;
        }
        
        .registerarea span a {
            color: #cd474e;
        }
        
        .reg_form {
            width: 600px;
            margin: 50px auto 0;
        }
        
        .reg_form div {
            display: inline-block;
        }
        
        .reg_form ul li {
            margin-top: 20px;
        }
        
        .reg_form ul li label {
            float: left;
            width: 85px;
            height: 25px;
            line-height: 35px;
            font-size: 14px;
            text-align: right;
        }
        
        .reg_form ul li .inp {
            width: 240px;
            height: 35px;
            padding: 0 20px;
            font-size: 18px;
            border: 1px solid #999999;
        }
        
        .error,
        .success {
            display: inline-block;
            margin-left: 5px;
        }
        
        .error {
            color: #df3033;
        }
        
        .success {
            color: green;
        }
        
        .error_icon,
        .success_icon {
            display: inline-block;
            width: 21px;
            height: 21px;
            vertical-align: middle;
            margin-top: -3px;
        }
        
        .reg_form ul li:nth-child(3) {
            position: relative;
        }
        
        .reg_form ul li:nth-child(3) span {
            position: absolute;
            top: 10px;
            right: 280px;
            width: 25px;
        }
        
        .reg_form ul li:nth-child(3) span img {
            width: 100%;
        }
        
        .reg_form ul li:nth-child(5) {
            position: relative;
        }
        
        .reg_form ul li:nth-child(5) span {
            position: absolute;
            top: 10px;
            right: 280px;
            width: 25px;
        }
        
        .reg_form ul li:nth-child(5) span img {
            width: 100%;
        }
        
        .safe {
            margin-left: 160px;
        }
        
        .safe em {
            padding: 0 12px;
        }
        
        .ruo {
            background-color: #de1111;
        }
        
        .zhong {
            background-color: #40b83f;
        }
        
        .qiang {
            background-color: #f79100;
        }
        
        .agree {
            margin-left: 85px;
        }
        
        .agree a {
            color: #bbdcf5;
            margin-left: 5px;
        }
        
        .btn {
            margin-left: 100px;
        }
        
        .btn input {
            width: 200px;
            height: 35px;
            line-height: 35px;
            background-color: #c81623;
            color: #fff;
            font-size: 14px;
            text-align: center;
            margin-top: 40px;
            cursor: pointer;
        }
        
        .mod_copright {
            padding: 15px 0;
            color: #333;
            text-align: center;
        }
        
        .mod_copright .link {
            margin-bottom: 16px;
        }
        
        .mod_copright .link a {
            padding: 0 15px;
        }